
#pieChart {    
	position:relative;
	top:40%;
	left:10px;
	/* width:400px; */
    height: 400px; 
    display: inline-block;
}


#barChart {
	position:relative;
	top:40%;
    height: 400px;
    display: inline-block;
}

.slice {
   font-size: 12pt;
   font-family: Verdana;
   fill: white;
   font-weight: bold;	
   cursor: pointer;
          } 

.first-visualization_{
    margin-top: 5%;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.dataset-success{
    color: green;
    display: none;
}

.loader{
    text-align: center;
    margin-top: 5%;
    display: none;
}

#form1{
    padding: 2%;
}