{% extends "blank.html" %}
{% block content %}

<div class="">
    <h3>First, some intuitions and adding one dimension to the data</h3>
    <div id="scatterPlot"></div>
</div>
<div class="">
    <h3>Next, let's draw some boundaries</h3>
    <div id="scatterPlotWithBoundary"></div>
</div>
<div>
    <h3>Now, lets find better boundaries</h3>
    <div id="histogram"></div>
</div>
<div class="row">
    <h2 class="accuracy"></h2>
    <div class="col-6">
        <h4>True positive, True Negative</h4>
        <div id="training-data-true-positive"></div>
    </div>
   
  
    <div class="col-6">
        <h4>False Postive, False Negative</h4>
        <div id="training-data-false-positive"></div>
    </div>
</div>

<div>
    <h4>Let's select the current parameter and draw the tree for that</h4>
    <div id="tree"></div>
</div>

<a href="/spatialbar"><div type="button" class="btn btn-primary btn-lg btn-block">Detail Analysis</div></a>
<div id="pieChart"></div>
<div id="barChart"></div>
<div id = "decisionTree"></div> 


{% endblock content %}