<!DOCTYPE html>

<meta charset="utf-8">
  <!--Loading the SpatialStyle.css file -->
	<link rel="stylesheet" href="./static/css/spatialstyle.css" />
	<div>
        <!--Slider for the Years -->
		<div class="slider" id="slider">
			<h1 align="center" id="heading">LIFE EXPECTENCY ANALYSIS</h1>
			<div id="year_slider" align="center" >
				<div id="year_slider_child" class="year_slider_child">
					<span id="slider_text">Select a Year: 
						<span id="range" ></span>
					</span>
				</div>
			</div>
		</div>
		<div class = "row">
         <div id="tooltip-container"></div>
           <!-- Spatial SVG -->
         <div class="column" id="canvas-svg"></div>
           <!-- Bar Chart on Selecting a country -->
			<div class="column" id = "bar-chart">
				<svg id="bar" width="1260" height="600"></svg>
			</div>
      </div>
        <!--Loading the D3JS V4 library -->
      <script src="http://d3js.org/d3.v4.min.js"></script>
        <!--Loading the Topojsonminjs library for d3 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
         <!--Loading the Spatialbar javascript file -->
		<script src="./static/js/spatialbar.js"></script>